.root {
    -fx-background-image: url("../images/TeamLogoAngry.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: contain;
    -fx-background-position: 100% 0%;
    -fx-background-color: transparent;
	-fx-accent: #DCEDC8;
	-fx-focus-color: #8BC34A;
	-fx-faint-focus-color: rgba(139, 195, 74, 0.2);
}

.text-field {
	-fx-accent: #689F38;
}