.root {
	-fx-accent: #C8E6C9;
	-fx-focus-color: #4CAF50;
	-fx-faint-focus-color: rgba(76, 175, 80, 0.2);
}

.label {
	-fx-text-fill: #212121;
}

.hbox {
    -fx-background-color: #4CAF50;
	-fx-text-fill: #FFFFFF;
}

.grid {
	-fx-background-color: rgba(255, 255, 255, .9);
}

.border {
	-fx-background-image: url("../images/TeamLogoAngryTranslucent25.png");
    -fx-background-repeat: stretch;
    -fx-background-size: contain;
    -fx-background-position: 50% 0%;
}

.border-no-overlay {
	-fx-background-image: url("../images/TeamLogoAngryTranslucent1.png");
    -fx-background-repeat: stretch;
    -fx-background-size: contain;
    -fx-background-position: 50% 0%;
	-fx-background-color: #FFFFFF;
}

.text-field {
	-fx-accent: #388E3C;
}

#headerLabel {
	-fx-text-fill: #FFFFFF;
}