.root {
    -fx-background-image: url("TeamLogoAngry.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: contain;
    -fx-background-position: 100% 0%;
    -fx-background-color: transparent;
}